/* fonts */
@font-face {
    font-family: 'ProductSans-Regular';
    src: local('ProductSans-Regular'), url('../fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Product-Sans-Bold';
    src: local('Product-Sans-Bold'), url('../fonts/Product-Sans-Bold.woff') format('woff');
}


/* body */
body {
    font-family: 'ProductSans-Regular';
}


/* navbar */
.navbar-brand {
    padding-bottom: 28px;
    width: auto;
    height: 150px;
    object-fit: cover;
}

.nav-link {
    margin-right: 30px;
}

.btn-login {
    background-color: #2f3035;
    color: white;
    border-radius: 0%;
    width: 80px;
}

.btn-register {
    margin-left: 15px;
    border-radius: 0%;
    width: 80px;
}


/* jumbotron */
.jumbotron {
    background-color: white;
}

.jumbotron-content-wrapper {
    margin-top: 95px;
}

.jumbotron-text-wrapper {
    margin-top: 25px;
}

.heading-comfortable {
    font-family: 'Product-Sans-Bold';
    /* font-size: 66px; */
    color: black;
}

.heading-comfortable-dots {
    color: grey;
}

.jumbotron-text-description {
    padding-top: 15px;
    font-family: 'ProductSans-Regular';
    font-size: 18px;
}

.btn-get-it-now {
    margin-top: 7px;
    background-color: #2f3035;
    color: white;
    padding-top: 10px;
    height: 45px;
    width: 125px;
    border-radius: 0%;
}

.btn-get-it-now:hover {
    color: white;
}

.jumbotron-bg-image-wrapper {
    padding-top: 50px;
    padding-left: 25px;
}

.bg-img {
    width: auto;
}


/* available-store */
.store {
    margin-top: -55px;
    width: auto;
    height: 50px;
    object-fit: cover;
}