/* fonts */
@font-face {
    font-family: 'ProductSans-Regular';
    src: local('ProductSans-Regular'), url('../fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Product-Sans-Bold';
    src: local('Product-Sans-Bold'), url('../fonts/Product-Sans-Bold.woff') format('woff');
}


/* body */
body {
    font-family: 'ProductSans-Regular';
}


/* navbar */
.navbar-brand {
    width: auto;
    height: 60px;
    object-fit: cover;
}


/* jumbotron */
.jumbotron {
    background-color: white;
}

.jumbotron-text-wrapper {
    margin-top: 40px;
}

.heading-comfortable {
    font-family: 'Product-Sans-Bold';
    font-size: 66px;
    color: black
}

.heading-comfortable-dots {
    color: grey;
}

.jumbotron-text-description {
    padding-top: 20px;
    font-family: 'ProductSans-Regular';
    font-size: 18px;
}

.bg-img {
    width: auto;
    height: 300px;
}


/* available-store */
.store {
    width: auto;
    height: 50px;
    object-fit: cover;
}